.example-container {
  min-height: 90vh;
  margin: 10px;
  border: 1px solid #555;
  background: #eee;
}
.active{
    background-color: blanchedalmond;
}
.example-spacer {
  flex: 1 1 auto;
}
.side-menu {
  width: 200px; 
}

.user-info {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 14px;
}
.welcome {
    margin-left: 20px;
  font-weight: 500;
}