.example-container {
  min-height: 600px;
  height: auto;
  margin: 10px;
  border: 1px solid #555;
  background: #eee;
}
.active{
    background-color: blanchedalmond;
}
.example-spacer {
  flex: 1 1 auto;
}